section{
    display:grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: 15vh 80vh 5vh   ;
    
    column-gap: 5px ;
    row-gap: 20px;
}

section div{
    display: flex;
    justify-content: center;
    align-items: center;}


    section div:nth-child(1){
    
        grid-column:1/-1;
        grid-row:1/2;
        background: blue;
    }

    section div:nth-child(2){
        grid-column:1/2;
        grid-row:2/3;
        background: green;
    }
    section div:nth-child(3){
        grid-column:2/-2;
        grid-row:2/3;
        background: red;
    }
    section div:nth-child(4){
        grid-column:1/-1;
        grid-row:3/-1;
        background: purple;
    }
